/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
    opacity: 0.3;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#earth_frame {
    position: absolute; top: 0px; left: 0px;
    height: 100vh;
    width: 100vw;
    background: #111;
}

.earth_picture {
    height: 90vmin;
    width: 90vmin;
    /*max-height: 1000px;
    max-width: 1000px;*/
    position: absolute;
    padding: 0;
    margin-left: calc(50vw - 45vmin);
    margin-top: calc(50vh - 45vmin);
    overflow: hidden;
    
    border-radius: 50%;
    border: 0.3vmin #7b7b7b solid;
    -webkit-box-shadow: 0 0 6vmin #777,
        inset 0 0 0.5vmin #fff;
    box-shadow: 0 0 6vmin #777,
        inset 0 0 0.5vmin #fff;
/*    background-color: grey;*/
    background-image: url('../img/north.jpg');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    -webkit-transition-duration: 0.25s;

    transition-duration: 0.25s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    /*transition-timing-function: linear;*/
}
#earth_picture_north {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#earth_picture_south {
    background-image: url('../img/south.jpg');
}   
#earth_picture_north:hover {
    opacity: 0.001;
    -webkit-animation: opacityinout;
    animation: opacityinout;
    -webkit-animation-delay: 10s;
    animation-delay: 10s; -webkit-animation-duration: 1s; animation-duration: 1s;
}
@-webkit-keyframes opacityinout {
    0% {opacity: 0.001;}    4% {opacity: 1;}    96% {opacity: 1;}    100% {opacity: 0.001;}
}
@keyframes opacityinout {
    0% {opacity: 0.001;}    4% {opacity: 1;}    96% {opacity: 1;}    100% {opacity: 0.001;}
}

.inverted {
    position: absolute;
    top: 20vmin;
    left: 10vmin;/* width: 100%; text-align: center;*/
    font-size: 3vmin;
    opacity: 0.2;
    color: #777;
    text-shadow: 0 0 1vmin #777;
    /*animation: invertedAnim;
    transition-timing-function: linear;
    animation-delay: 0;
    animation-duration: 30s; 
    animation-iteration-count: 5;*/}
@-webkit-keyframes invertedAnim {
    0% {opacity: 0.001;}     1% {opacity: 0.3;}     23% {opacity: 0.3;}     24% {opacity: 0.001;}
    66% {opacity: 0.001; top: 20vmin;}     67% {opacity: 0.3; top:75vmin;}
        99% {opacity: 0.3; top: 75vmin;}     100% {opacity: 0.001; top: 20vmin;}
}
@keyframes invertedAnim { 
    0% {opacity: 0.001;}     1% {opacity: 0.3;}     23% {opacity: 0.3;}     24% {opacity: 0.001;}
    66% {opacity: 0.001; top: 20vmin;}     67% {opacity: 0.3; top:75vmin;}
        99% {opacity: 0.3; top: 75vmin;}     100% {opacity: 0.001; top: 20vmin;}
}
.inverted:nth-of-type(2) { top: 50vmin; left: 75vmin; }

.earth_time{
/*    position: absolute; top:-0.5%; left:-0.5%;*/
    width: 100%; height:100%;
    background-image: url('../img/hiding.png');
    background-size: 10vmin;
    background-repeat: no-repeat;
    background-position: 50% -195vmin;
/*    border-radius: 50%;*/
}


.wallpapers {
    position: fixed;
    padding: 0; margin: 0;
    background-image: url('../img/texture.jpg');
    background-position: center;
    background-size: 25vmin;
    /*box-shadow: 0 0 1vmin 1vmin #000,
        inset 0 0 1vmin 1vmin #000;*/
}

.wallpapersLeft{
    height: 100vh; top: 0; left: 0; 
    width: calc(50vw - 55vmin);
    -webkit-box-shadow: inset -2vmin 0 .5vmin -1vmin #111;
    box-shadow: inset -2vmin 0 .5vmin -1vmin #111;
    background-position: top 0 right 2.4vmin;
}
.wallpapersRight{
    height: 100vh; top: 0; left: calc(50vw + 55vmin);
    width: calc(50vw - 55vmin);
    background-position: 1vmin 1vmin;
    -webkit-box-shadow: inset 2vmin 0 .5vmin -1vmin #111;
    box-shadow: inset 2vmin 0 .5vmin -1vmin #111;
}
.wallpapersTop{
    width: 100vw; top: 0; left: 0; 
    height: calc(50vh - 55vmin);
    -webkit-box-shadow: inset 0 -2vmin .5vmin -1vmin #111;
    box-shadow: inset 0 -2vmin .5vmin -1vmin #111;
}
.wallpapersBottom{
    width: 100vw; left: 0; top: calc(50vh + 55vmin);
    height: calc(50vh - 55vmin);
    background-position: 5px 5px;
    -webkit-box-shadow: inset 0 2vmin .5vmin -1vmin #111;
    box-shadow: inset 0 2vmin .5vmin -1vmin #111;
}

/* A link button to Githab's page */
/*////////////////////////////////*/

.appbutton, .appbutton div {
    border-radius: 5vmin;
    height: 10vmin;
    right: 5vmin;
    bottom: 5vmin;
    position: fixed;
    text-align: center;
    font-size: 4vmin;
    line-height: 10vmin;
}
#linkToCode {
    right: 16vmin;
    width: 0;
    height: 0;
    overflow: hidden;
    bottom: 10vmin;
    background: #191919;
    color: #ddd;
    -webkit-box-shadow: 0 0 .1vmin .1vmin #000;
    box-shadow: 0 0 .1vmin .1vmin #000;
    -webkit-transition:
        width .6s 5.2s,
        height .2s 5.3s,
        bottom .2s 5.3s,
        background-color 0s 6s;
    transition:
        width .6s 5.2s,
        height .2s 5.3s,
        bottom .2s 5.3s,
        background-color 0s 6s;
}

#linkToCode a {
    text-decoration: none;
    color: #ddd;
    padding-left: 4vmin;
    padding-right: 4vmin;
    border-radius: 5vmin;
    display: inline-block;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: .2s 4.8s;
    transition: .2s 4.8s;
}
#linkToCode a span {
    background-image: url('../img/github-logo.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0);
}

#linkToGithub {
    width: 10vmin;
    font-size: 1px;
    color: rgba(0,0,0,0);
    background: #191919;
    -webkit-box-shadow: 0 0 .1vmin .4vmin #000;
    box-shadow: 0 0 .1vmin .4vmin #000;
    background-image: url('../img/spiral.svg');
    background-size: 140%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition:
        -webkit-transform 2s 6.4s,
    	transform 2s 6.4s,
        background-size 0s 5s,
        background-position 0s 5s,
        background-color 1s 6s;
    transition:
        -webkit-transform 2s 6.4s,
    	transform 2s 6.4s,
        background-size 0s 5s,
        background-position 0s 5s,
        background-color 1s 6s;
}
.hovered #linkToGithub {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    background-size: 600%;
    background-position: 55% 50%;
    background-color: #050505;
    -webkit-transition:
        -webkit-transform 1.5s 0s,
        transform 1.5s 0s,
        background-size .5s 1.5s,
        background-position .5s 1.5s,
        background-color .4s 3s;
    transition:
        -webkit-transform 1.5s 0s,
        transform 1.5s 0s,
        background-size .5s 1.5s,
        background-position .5s 1.5s,
        background-color .4s 3s;
}
.hovered #linkToCode {
    width: 40vmin;
    height: 10vmin;
    bottom: 5vmin;
    background-color: #22222222;
    -webkit-transition:
        height .4s 1.7s,
        bottom .4s 1.7s,
        width .6s 1.7s,
        background-color .4s 3s;
    transition:
        height .4s 1.7s,
        bottom .4s 1.7s,
        width .6s 1.7s,
        background-color .4s 3s;
}
.hovered #linkToCode a {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition:
        -webkit-transform .1s 3.2s,
    	transform .1s 3.2s,
    	opacity 0.1s 0s;
    transition:
        -webkit-transform .1s 3.2s,
    	transform .1s 3.2s,
    	opacity 0.1s 0s;
}

#linkToGithub img {
	width: 10vmin;
	/*opacity: 0.01;*/
	opacity: 0.009;
    -webkit-transition:  5s 1s;
    transition:  5s 1s;
}
.hovered #linkToGithub img {
	/*width: 10vmin;*/
	opacity: .7;
    -webkit-transition: .71s 4s;
    transition: .71s 4s;
}

.hovered a {
	opacity: 0.9;
}
.hovered a:hover {
    opacity: 1;
    -webkit-transition: 0.1s 0s;
    transition: 0.1s 0s;
}

/* ==================================
   Media Queries
   ================================ */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and  (max-width: 600px) {
    .earth_picture {border: 2px #aaa solid;}
}

@media only screen and (max-height: 600px) {
    .earth_picture {border: 2px #aaa solid;}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
